div .input{
    margin-top: 20px; 
}

input{
    border: 2px solid #dbdbdb;
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgb(237 237 232 / 10%);
    font-family: inherit;
    font-size: 1vw;
    z-index:1000; 
    left: 25%;
    position: absolute;
    height: 1.5vw;
    width: 30%;
}

textarea{
    border: 2px solid #dbdbdb;
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgb(237 237 232 / 10%);
    font-family: inherit;
    font-size: 1vw;
    left: 25%;
    position: absolute;
    overflow: scroll;
}

label{
    font-size: 1.8vw;
    padding: 30px 30px;
    max-width: 20%;
}

.information{
    width: 70%;
    height: 800px;
    background-color: white;
}

.cc{
    margin-top: 200px;
    position: absolute;
    font-size: 2.5vw;
    text-align: center;
    align-items: center;
    border:#999;
    border-radius: 10px;
    padding: 5px 8px 5px 8px;
    width:8vw;
}

#cancel{
    left: 15%;
    background-color: rgb(250, 138, 10);
}

#confirm{
    left: 50%;
    background-color: rgb(28, 174, 211);
}
/* 
@media (max-width: 1000px){
    div .information{
        display: block;
        text-align: center;
    }
    input{
        display: block;
        text-align: center;
    }
    label{
        display: block;
        text-align: center;
    }
} */