.postImageWrapper{
    height: 450px;
    overflow: hidden;
}

.postImageWrapper img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

input textarea{
    border: 2px solid #dbdbdb;
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgb(237 237 232 / 10%);
    font-family: inherit;
    font-size: 1rem;
    padding-left: 50px;
    z-index:1000; 
}