
input{
    border: 2px solid #dbdbdb;
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgb(237 237 232 / 10%);
    font-family: inherit;
    font-size: 1rem;
    z-index:1000; 
    left: 25%;
    position: absolute;
    /* display: flex; */
    height: 30px;
    width: 30%;
}

textarea{
    border: 2px solid #dbdbdb;
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgb(237 237 232 / 10%);
    font-family: inherit;
    font-size: 1rem;
    left: 25%;
    position: absolute;
}

label{
    font-size: 30px;
    padding: 30px 30px;

}

.information{
    display: absolute;
    width: 70%;
    height: 600px;
    background-color: white;
}


#cancel{
    left: 15%;
    bottom: 0;
    position: absolute;
    font-size: 30px;
}

#confirm{
    left: 50%;
    bottom: 0px;
    position: absolute;
    font-size: 30px;
}