.logo{
    text-align: center;
    /* position: relative; */
    opacity: 1;
    padding: 5vw 0 0 0;
    margin:0;

}
.logo .title{
    font-family: 'Dancing Script', Helvetica ;
    font-size: 4vw;
    font-weight: 900;
    text-decoration: none;
    color: #333;
    position: absolute ;
    text-align: center;
    top: 10vw;
    left: 37%;
    
}

#logoImg{
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    
}
