.logo{
    text-align: center;
    /* position: relative; */
    opacity: 1;
    padding: 0;

}
.logo .title{
    font-family: 'Dancing Script', Helvetica ;
    font-size: 75px;
    font-weight: 900;
    text-decoration: none;
    color: #333;
    position: absolute ;
    text-align: center;
    top: 100px;
    left: 35%;
    
}

#logoImg{
    text-align: center;
    margin: auto;
    padding: auto;
    width: 100%;
    
}
