.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2vw 0 0.5vw 0;
    margin-bottom: 1vw;
}
.navbar ul{
    margin: 0;
    padding: 0;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
}
.navbar ul li .navlink{
    text-decoration: none;
    display: block;
    font-size: 2vw;
    text-transform: capitalize;
    font-weight: 400;
    color: #565673;
    padding: 0 3vw;
}
