.postImageWrapper{
    /* max-height: 450px; */
    height: 100%;
    overflow: auto;
}

.postImageWrapper img{
    width: 100%;
    max-height: 100%;
    /* object-fit: cover; */
}

h2{
    display: inline;
    padding: 30px 0;
    font-size: 3vw;
}

h4{
    display: block;
    font-size: 2vw;
}

#edit{
    display: inline;
    position: absolute;
    right: 35%;
    font-size: 2vw;
    color:rgb(226, 175, 35);
}

p {
    text-align: left;
    padding: 0px 50px 0px 50px;
    overflow: hidden;
    font-size: 1.3vw;
}

.content{
    white-space: pre-line;
}


.readmore{
    color: maroon;
    font-size: 1.5vw;
}

.readless{
    color:rgb(46, 146, 85);
    font-size: 1.5vw;
}

.icon {
    font-size: 1rem;
    color: var(--primary-color);
    background: var(--secondary-color);
    border-radius: 100%;
    padding: 1rem 0.5rem 0 0;
    grid-row: 1 / span 2;
    justify-self: center;
}