.sidebarContainer{
    width: 27%;
    right:0;
}

.cardHeader{
    text-transform: uppercase;
    font-size: 1vw;
    text-align: center;
    box-sizing: border-box;
    letter-spacing: 2px;
    color: #333 ;
}


.profileImageContainer{
    width: 100%;
    box-sizing: border-box;
}

.profileImageContainer img{
    width: 100%;
    height: 100%;
    margin: 20px 0;
    border-radius: 100%;
    display: block;
}

.personalBio{
    font-size: 0.7vw;
    color: #565673;
    font-weight: 300;
    text-align: center;
}
